**insert**

In [ ]:
l1=[1,2,3,4,10, 20, 'Apple', 'A']
i1=l1.index('Apple')  # Apple index = 6
l1.insert(i1, 'Banana') # Insert banana before index i1(6)
l1

In [ ]:
l1=[1,2,3,4,10, 20, 'Apple', 'A']
i1=l1.index('A')  # Apple index = 8
l1.insert(i1, 'Cherry') # Insert banana before index i1(8)
l1

In [ ]:
l1=[1,2,3,'Apple',10, 20, 'Apple', 'A', 30, 40]
i1=l1.index('Apple')
i2=l1.index('Apple', i1+1) 
i2

In [ ]:
l1=[1,2,3,'Apple',10, 20, 'Apple', 'A', 30, 40]
i1=l1.index('Apple')
i2=l1.index('Apple', i1+1) 
l1.insert(i2, 'Cherry')
l1

In [ ]:
l1=[1,2,3,'Apple',10, 20, 'Apple', 'A', 30, 40]
i1=l1.index('Apple')
l1.pop(i1)
i2=l1.index('Apple', i1+1)
l1.pop(i2)
l1

In [ ]:
l2=[1,2,3,'Apple',10, 20, 'Apple', 'A', 30, 40]
i1=l2.index('Apple')
l2.pop(i1)
i2=l2.index('Apple')
l2.pop(i2)
l2

In [2]:
l1=[1,2,3,'Apple',10, 20, 'Apple', 'A', 30, 40]
i1=l1.index('Apple')
l1.pop(i1)
print(l1)
i1=l1.index('Apple')
l1.pop(i1)
print(l1)

[1, 2, 3, 10, 20, 'Apple', 'A', 30, 40]
[1, 2, 3, 10, 20, 'A', 30, 40]

In [62]:
str="hai apple how are you apple iam good apple thank you apple"
list_str=str.split()
cnt=list_str.count('apple')
for i in range(cnt):
    i1=list_str.index('apple')
    list_str.pop(i1)
' '.join(list_str)

'hai how are you iam good thank you'

In [63]:
word = "Python"
print(word[0])

P

In [78]:
a = 5
b = 2.5
c = 'Hello'
result = a * b
print(c + str(result))

TypeError: 'str' object is not callable

In [80]:
S1 = 'Python'
S2 = ' is amazing!'
result = S1*3 + S2
print(result)

PythonPythonPython is amazing!

In [81]:
x = 5
y = 2
result = x ** y // 3
print(result)

8

In [83]:
fruits = ['apple', 'orange', 'banana']
fruits.append('grapes')
print(len(fruits))

4

In [85]:
n = [1,2,3,4,5]
n.pop(2)
print(n)

[1, 2, 4, 5]

In [86]:
person = ['name':'John','age':30,'city':'NewYork']
print(person['age'])

SyntaxError: invalid syntax (2527321898.py, line 1)

In [87]:
N1 = 25/5
N2 =25%5
print(N1,N2)

5.0 0