- We can store the Output values by using "Append" operations .
- We are taking empty list.
- We are iterating through elements from a given list. 
- The result we are appending in a new list.

In [2]:
for i in range(10):
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [3]:
sqr_list=[]
for i in range(10):
    sqr_list.append(i*i)
print(sqr_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process.
- The 3 lines we can make into a single line.
- This is calles as LIST COMPREHENSION

$Pattern-1$

**Only For Loop**

In [6]:
# syntax
# [<output> <for loop>]
# Taking above Example below questions.
# Q1) What is the saving ? i*i
# Q2) What ist the output list name ? sqr_list
# What is the for loop > for i in range(10)

sq_list=[i*i for i in range(10)]
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
l1=['hyd', 'mumbai', 'chennai', 'blr']
l1_o=[i.upper() for i in l1]
l1_o

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [14]:
l2=['Hyd', 'Mumbai', 'Chennai', 'Blr']
l2_l=[i.lower() for i in l2]
l2_l

['hyd', 'mumbai', 'chennai', 'blr']

In [22]:
l2=['Hyd', 'Mumbai', 'Chennai', 'Blr']
idx_sum=[l2.index(i) for i in l2]
sum(idx_sum)

6

- Making empty list
- Initialization will not works in List Comprehension
- Assignment operation also not works in LC

$Patters-2$

**For Loop - If condition**

In [26]:
# Syntax
#

l4=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']
op_hash = [i for i in l4 if '#' in i]
op_hash

['Mum#bai', 'Chen#nai']

In [27]:
l4=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']
op_no_hash = [i for i in l4 if '#' not in i]
op_no_hash

['Hyd', 'Blr']

In [57]:
str1='virat.kohil@rcb.com, Rohit.sharma@mi.co, KL.shanker@lucknow.com'
list_1 = str1.split()
list_1[0][:list_1[0].index('.')]
list_1[0][list_1[0].index('.')+1:list_1[0].index('@')]
list_1[0][list_1[0].index('@')+1:list_1[0].index('.', list_1[0].index('.')+1)]

'rcb'

In [64]:
str1='virat.kohil@rcb.com, Rohit.sharma@mi.co, KL.shanker@lucknow.com'
list_1 = str1.split(',')
f_name=[list_1[i][:list_1[i].index('.')] for i in range(len(list_1))]
s_name=[list_1[i][list_1[i].index('.')+1 : list_1[i].index('@')] for i in range(len(list_1))]
c_name=[list_1[i][list_1[i].index('@')+1:list_1[i].index('.', list_1[i].index('.')+1)] for i in range(len(list_1))]
f_name, s_name, c_name

(['virat', ' Rohit', ' KL'],
 ['kohil', 'sharma', 'shanker'],
 ['rcb', 'mi', 'lucknow'])

In [67]:
str1='virat.kohil@rcb.com, Rohit.sharma@mi.co, KL.shanker@lucknow.com'
list_1 = str1.split(',')
f_name=[i[:i.index('.')] for i in list_1]
s_name=[i[i.index('.')+1 : i.index('@')] for i in list_1]
c_name=[i[i.index('@')+1:i.index('.', i.index('.')+1)] for i in list_1]
f_name, s_name, c_name

(['virat', ' Rohit', ' KL'],
 ['kohil', 'sharma', 'shanker'],
 ['rcb', 'mi', 'lucknow'])

In [68]:
round(4.567)

5

In [69]:
set={0,0,"a1", 0, 9}
print(set)

{0, 9, 'a1'}

In [73]:
print(0xC)

12

In [74]:
'2'==2

False

In [75]:
mango=apple

NameError: name 'apple' is not defined

In [78]:
list=[1,2,3]
list.remove(4)

ValueError: list.remove(x): x not in list

In [79]:
print("hello)

SyntaxError: unterminated string literal (detected at line 1) (2149988476.py, line 1)

In [84]:
my_dict={'Name':'Alice', 'Age':30}
print(my_dict['Address'])

KeyError: 'Address'

In [ ]:
>>> ord('a')
97
>>> chr(97)
'a'
>>> chr(ord('a') + 3)