**Pattersn-3**
- If-Else

In [ ]:
[output> <forloo>] : for loop
[output> <forloo>] : <if condition>]: for-if
[if_output> <if_con> <else> <else output> <for_loop]: for-if

**Lambda Functions**
- Lambda functions represents function concepts only.
- But we can write in a single line.
- Like list comprehension, lambda functions similar only.
- It will decrease the time complexity
- Always remember if we use many for loops or many conditions using multiple line, time complexity will increase.

**SYntax: It will use a keyword lambda**

# lambda <arguments>:<expression>

In [2]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattersn-1$

**Function with only one argument**
- Function Name
- Argument Name
- Retrun Output

In [11]:
# syntax: <function name> = lambda <argument name> : <return output>

summ=lambda n:(n+10)
summ(10)

20

In [10]:
cube=lambda m:(m**3)
cube(2)

8

**Pattern No-2** 
- 2 Arguments

In [13]:
# syntax: <function name>= lambda <arg1>, <arg2> : <return output>
add=lambda a, b: (a+b)
add(2,3)

5

In [14]:
emp=lambda fname, lname: (fname+' '+lname)
emp('omkar','nallagoni')

'omkar nallagoni'

In [23]:
emp=lambda fname, lname, email: ('First Name: '+fname+' Last Name: '+lname + ' Company: '+ email)
emp('omkar','nallagoni', 'cognizant.com')

'First Name: omkar Last Name: nallagoni Company: cognizant.com'

In [17]:
average=lambda a,b,c=500:round((a+b+c)/3,3)
average(10, 102)

204.0

In [25]:
maxx=lambda a,b: a if a>b else b
maxx(10, 20)

20

**Patterrn-5**
- Using List
- Need to map

In [29]:
# syntax lambda <variable>:<op>,<iterator>
l=['hyd', 'chennai', 'madras']
lambda i:i.capitalize(), l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'madras'])

In [30]:
# syntax lambda <variable>:<op>,<iterator>
l=['hyd', 'chennai', 'madras']
map(lambda i:i.capitalize(), l)

In [31]:
# syntax lambda <variable>:<op>,<iterator>
l=['hyd', 'chennai', 'madras']
list(map(lambda i:i.capitalize(), l))

['Hyd', 'Chennai', 'Madras']

In [32]:
# syntax lambda <variable>:<op>,<iterator>
l=['hyd', 'chennai', 'madras']
tuple(map(lambda i:i.capitalize(), l))

('Hyd', 'Chennai', 'Madras')