**Dictionary**
- We already seen many data types
- String
- List
- Tuple
- Set
- Dictionary
- int float bool complex
- eval is not a data type
- range is datatype

**Zip**

In [ ]:
names=['Amar', 'Babu', 'Chinnu']
age=[11, 12, 13]
for i, j in zip(names, age):
    print(i,': ', j)

In [ ]:
zip(names, age)

In [ ]:
list(zip(names, age))

In [ ]:
dict1= {'Amar':11, 'Babu':12, 'Chinnu':13}
type(dict1)

In [ ]:
d1={'Amar':11, 'Babu':12, 'Chinnu':13}
max(d1)

In [ ]:
d2={'Amar':'11', 'Babu':'12', 'Chinnu':'13'}
max(d2)

In [ ]:
d1={'Amar':11, 'Babu':12, 'Chinnu':13}
d2={'Amar':'11', 'Babu':'12', 'Chinnu':'13'}
d3={25:'Amar', 30:'Babu', 11:'Chinnu'}
d4={'Amar':30, '30':'Babu', 'bablu':33}
d5={25:'Amar', '30':'Babu', 11:'Chinnu'}
d6={25:'Amar', 25:'Babu', 25:'Chinnu'}

In [9]:
d1={'Amar':11, 'Babu':12, 'Chinnu':13}
d2={'Amar':'11', 'Babu':'12', 'Chinnu':'13'}
d3={25:'Amar', 30:'Babu', 11:'Chinnu'}
d4={'Amar':30, '30':'Babu', 'bablu':33}
d5={25:'Amar', '30':'Babu', 11:'Chinnu'}
d6={25:'Amar', 25:'Babu', 25:'Chinnu'}
reversed(d3), list(reversed(d3))

(<dict_reversekeyiterator at 0x128161cd2b0>, [11, 30, 25])

In [10]:
d1['Babu']

12